---
layout: presentations
title: Pitch Deck
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  # The GitHub Platform

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # GitHub the Product

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-comment-discussion"></span></div>
            <div class="card-title">Boost Team Productivity</div>
            <ul class="card-text">
              <li>@ mentions</li>
              <li>issues</li>
              <li>file editor</li>
              <li>fuzzy file search</li>
              <li>pulse &amp; graphs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-git-pull-request"></span></div>
            <div class="card-title">Improve Code Quality</div>
            <ul class="card-text">
              <li>pull requests</li>
              <li>protected branches</li>
              <li>line comments</li>
              <li>split differences</li>
              <li>integrations</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-checklist"></span></div>
            <div class="card-title">Increase Developer Efficiency</div>
            <ul class="card-text">
              <li>pull requests</li>
              <li>search</li>
              <li>continuous integration</li>
              <li>releases</li>
              <li>integrations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Pull Request Workflow

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/devops-flow.png" class="img-responsive"></img>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # GitHub the Platform - Capability Matrix

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-comment-discussion"></span></div>
            <div class="card-title">Boost Team Productivity</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-git-pull-request"></span></div>
            <div class="card-title">Improve Code Quality</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top"><span class="mega-octicon octicon-checklist"></span></div>
            <div class="card-title">Increase Developer Efficiency</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title">Development - Engineering Department</div>
            <h4 class="card-text">
              <span class="label label-primary">ALM - Application Lifecycle Management</span>
              <span class="label label-primary">Agile Transformation</span>
              <span class="label label-primary">Cloud Native Design</span>
              <span class="label label-primary">Microservices Architecture</span>
              <span class="label label-primary">Analog to Digital</span>
              <span class="label label-primary">Big Data Analytics</span>
              <span class="label label-primary">VCS Migration</span>
              <span class="label label-primary">DevOps - CI/CD</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title">Infrastructure - Operations Department</div>
            <h4 class="card-text">
              <span class="label label-success">DevOps - Configuration Management</span>
              <span class="label label-success">IaaS - Infrastructure as a Service</span>
              <span class="label label-success">PaaS - Platform as a Service</span>
              <span class="label label-success">Infrastructure as Code</span>
              <span class="label label-success">Hybrid Cloud</span>
              <span class="label label-success">Infrastructure Automation</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
