---
layout: presentations
title: Pitch Deck
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  # The GitHub Platform

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Our Offerings

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-logo-github"></span></div>
            <div class="card-title"><a href="https://github.com" target="_blank"><h3>GitHub.com</h3></a></div>
            <p class="card-text"><strong>GitHub.com</strong> is the <i>hosted</i> version of GitHub, which is fully managed for you in our datacenter.  We currently host over 20m repositories and 10m users in our infrastructure. <a href="https://enterprise.github.com/downloads/en/comvsenterprise-082415.pdf">Learn more ...</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-mark-github"></span> <span class="mega-octicon octicon-server"></span> <span class="mega-octicon octicon-database"></span></div>
            <div class="card-title"><a href="https://enterprise.github.com" target="_blank"><h3>GitHub Enterprise</h3></a></div>
            <p class="card-text"><strong>GitHub Enterprise</strong> is the <i>on-premises</i> version of GitHub, which you can deploy and manage in your own, secure environment. <a href="https://enterprise.github.com/downloads/en/comvsenterprise-082415.pdf">Learn more ...</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  ---
  class: title-top

  # GitHub the Product - Features

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-comment-discussion"></span></div>
            <div class="card-title">Boost Team Productivity</div>
            <ul class="card-text">
              <li>@ mentions</li>
              <li>issues</li>
              <li>file editor</li>
              <li>fuzzy file search</li>
              <li>pulse &amp; graphs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-git-pull-request"></span></div>
            <div class="card-title">Improve Code Quality</div>
            <ul class="card-text">
              <li>pull requests</li>
              <li>protected branches</li>
              <li>line comments</li>
              <li>split differences</li>
              <li>integrations</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-checklist"></span></div>
            <div class="card-title">Increase Developer Efficiency</div>
            <ul class="card-text">
              <li>pull requests</li>
              <li>search</li>
              <li>continuous integration</li>
              <li>releases</li>
              <li>integrations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: full-screen
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/devops-flow.png" class="img-responsive"></img>
      </div>
    </div>
  </div>
  ---
  class: title-top

  # GitHub the Platform - Capability Matrix

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-comment-discussion"></span></div>
            <div class="card-title">Boost Team Productivity</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-git-pull-request"></span></div>
            <div class="card-title">Improve Code Quality</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-center"><span class="mega-octicon octicon-checklist"></span></div>
            <div class="card-title">Increase Developer Efficiency</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title">Development - Engineering Department Programs</div>
            <h4 class="card-text">
              <span class="label label-primary">ALM - Application Lifecycle Management</span>
              <span class="label label-primary">Agile Transformation</span>
              <span class="label label-primary">Cloud Native Design</span>
              <span class="label label-primary">DevOps - CI/CD</span>
              <span class="label label-primary">VCS Migration</span>
              <span class="label label-primary">Microservices Architecture</span>
              <span class="label label-primary">Big Data Analytics</span>
              <span class="label label-primary">Custom Application Development</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title">Infrastructure - Operations Department Programs</div>
            <h4 class="card-text">
              <span class="label label-success">DevOps - Configuration Management</span>
              <span class="label label-success">IaaS - Infrastructure as a Service</span>
              <span class="label label-success">PaaS - Platform as a Service</span>
              <span class="label label-success">Infrastructure as Code</span>
              <span class="label label-success">Hybrid Cloud</span>
              <span class="label label-success">Infrastructure Automation</span>
              <span class="label label-success">Containers</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Scenario 1

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h2>The Project Manager</h2></div>
            <div class="card-text">
              <blockquote>
                <p><span class="mega-octicon octicon-quote"></span> We are looking to bridge our Agile processes to collaborate better with our development teams.
                   We hope to increase the frequency of our releases and provide better quality through continuous integration and continuous delivery. <span class="mega-octicon octicon-quote"></span></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>GitHub</h3></div>
            <div class="card-text">
              <ul>
                <li>Pull Requests</li>
                <li>Protected Branches</li>
                <li>@ Mentions</li>
                <li>Webhooks</li>
                <li>API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>Partner</h3></div>
            <div class="card-text">
              <ul>
                <li>Agile Transformation</li>
                <li>DevOps - CI/CD</li>
                <li>Application Lifecycle Management</li>
                <li>Infrastructure Automation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Scenario 2

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h2>The Development Manager</h2></div>
            <div class="card-text">
              <blockquote>
                <p><span class="mega-octicon octicon-quote"></span> We have been trying to implement a test first mentality.
                  We are getting developers to write tests, but they are not great quality.
                  We need a process to automate the delivery of a quality product to our customers. <span class="mega-octicon octicon-quote"></span></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>GitHub</h3></div>
            <div class="card-text">
              <ul>
                <li>Pull Requests</li>
                <li>Protected Branches</li>
                <li>@ Mentions</li>
                <li>Webhooks</li>
                <li>API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>Partner</h3></div>
            <div class="card-text">
              <ul>
                <li>DevOps - CI/CD</li>
                <li>Application Lifecycle Management</li>
                <li>Infrastructure Automation</li>
                <li>DevOps - Configuration Management</li>
                <li>IaaS - Infrastructure as a Service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Scenario 3

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h2>The Operations Manager</h2></div>
            <div class="card-text">
              <blockquote>
                <p><span class="mega-octicon octicon-quote"></span> Our developers are pushing us to provide an automated process to deliver their applications without our traditional change request process.
                  We want to accomodate them, but we need to know what version of what product went into production at any given time. <span class="mega-octicon octicon-quote"></span></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>GitHub</h3></div>
            <div class="card-text">
              <ul>
                <li>Pull Requests</li>
                <li>Issues</li>
                <li>Releases</li>
                <li>Webhooks</li>
                <li>API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>Partner</h3></div>
            <div class="card-text">
              <ul>
                <li>DevOps - CI/CD</li>
                <li>Infrastructure Automation</li>
                <li>DevOps - Configuration Management</li>
                <li>IaaS - Infrastructure as a Service</li>
                <li>Hybrid Cloud</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>

  ---
  class: title-top

  # Scenario 4

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h2>The Executive</h2></div>
            <div class="card-text">
              <blockquote>
                <p><span class="mega-octicon octicon-quote"></span> Our competitors are leaner and can react faster to market changes than can.
                  We can't seem to hire quickly enough or provide enough innovation to keep developers challenged.  They are leaving faster than we can backfill. <span class="mega-octicon octicon-quote"></span></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>GitHub</h3></div>
            <div class="card-text">
              <ul>
                <li>Pull Requests</li>
                <li>Search</li>
                <li>Pulse</li>
                <li>@ Mentions</li>
                <li>API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-title"><h3>Partner</h3></div>
            <div class="card-text">
              <ul>
                <li>Cloud Native Design</li>
                <li>Microservices Architecture</li>
                <li>Hybrid Cloud</li>
                <li>Platform as a Service</li>
                <li>Big Data Analytics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Partner Involvement - Integrations &amp; Best Practices

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="text-center"><img class="card-img-top" src="/images/JIRA.png"></img></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="text-center"><img src="/images/github.png" class="card-img-top"></img></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="text-center"><img src="/images/puppet-labs.png" class="card-img-top"></img></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Agile Methodologies</li>
                  <li>JIRA to GitHub Issues</li>
                  <li>DVCS Connector</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Continuous Integration</li>
                  <li>Webhooks &amp; API</li>
                  <li>Customizations</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Organization Setup</li>
                  <li>Orphaned Branches</li>
                  <li>Dynamic Environments</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Continuous Delivery</li>
                  <li>Workflow Orchestration</li>
                  <li>Branching Strategies</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
