---
layout: presentations
title: Channel Technical Enablement Plan
---

<textarea id="source">
  class: title-slide

  <span class="mega-octicon octicon-mark-github"></span>
  <h1>Channel Technical Enablement Plan</h1>
  [https://github.com/githubpartners/presentations](https://github.com/githubpartners/presentations)

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Technical Enablement Plan

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>Goal:</strong></div>
            <div class="card-text">Requirements, timeline, and cross-functional assistance for Channel Technical Enablement and Authorization.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-left"><span class="mega-octicon octicon-checklist"></span><strong>&nbsp;Topics and Agenda:</strong></div>
            <ul class="card-text">
              <li>How partners obtain technical authorization</li>
                <ul><li>Theory</li>
                    <li>Practice</li></ul>
              <li>Overview of technical education plan</li>
              <li>Overview of practical authorization plan</li>
              <li>Partner technical enablement timeline for Americas, EMEA, APJ</li>
                <ul><li>Content</li>
                    <li>Delivery</li></ul>
              <li>Cross-functional assistance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Technical Authorization Overview

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>Technical Authorization Goal:</strong></div>
            <div class="card-text">Ensure Channel Partners are proficient at delivering the following services for GitHub customers to drive adoption and customer success:</div>
            <ul class="card-text">
              <li>GitHub Enterprise Installation and Setup</li>
              <li>End User Administration Concepts</li>
              <li>Migrating to GitHub Enterprise</li>
              <li>Integrations: Webhooks, API's</li>
              <li>Advanced GitHub Administration</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">GitHub requires that each SI and ASP partner have a minimum of 2 (two) Authorized consultants.  Authorization will occur through a GitHub led enablement session consisting of educational material and labs as well as 1 (one) or more customer engagements that include GitHub Services as shadow resources to verify and authorize the required skills from the partner consultants.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Technical Enablement Theory

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">One day <a href="https://github.com/githubpartners/enablement" target="_blank">training session</a> on-site at the partner's location delivered by a Channel Solution Engineer, Channel Account Manager, and optionally available regional resources.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-img-top text-left"><span class="mega-octicon octicon-comment-discussion"></span><strong>&nbsp;Morning Agenda:</strong></div>
            <div class="card-text">
            30m - Business Concept Setting</br>
            30m - GitHub Enterprise Installation and Setup</br>
            1hr - GitHub Setup Lab</br>
            10m - Break</br>
            30m - End User Administration Concepts</br>
            1hr - End User Administration Lab</br>
            45m - Migrating to GitHub Enterprise</br>
            45m Migration Lab (SVN to GitHub)</br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="card-text">
            <div class="card-img-top text-left"><span class="mega-octicon octicon-comment-discussion"></span><strong>&nbsp;Afternoon Agenda:</strong></div>
            </br>
            1h - Lunch</br>
            45m - Integrations: Webhooks, API's</br>
            45m - Integrations Lab</br>
            10m - Break</br>
            30m - GitHub Advanced Administration</br>
            1hr - Advanced Administration Lab</br>
            15m - Expectations</br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: title-top

  # Partner Authorization Engagement(s)

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">Upon completion of the on-site technical enablement session, partner resources are required to complete at least one customer engagement with shadow resources from GitHub services to demonstrate their competency in the required skills.  These engagements may be partner or GitHub sourced.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text"><strong>Notes:</strong></div>
            <ul class="card-text">
              <li>The 1st shadow engagement should occur within 45 days of the on-site enablement session.</li>
              <li>Services shadow rate for partner enablement is 50% of standard daily rate in the region.</li>
              <li>We anticipate partner consultants will require 1 - 3 shadow engagements to be authorized.</li>
              <li>Shadow resources are not always an option for customer engagements and will be prioritized based on client budget and project fit.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
  ---
  class: full-screen
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/enablement-timeline.png" class="img-responsive"></img>
      </div>
    </div>
  </div>
  ---
  class: title-top

  # Cross-functional Dependencies

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-text">The Channel team will collaborate with several organizations within GitHub to ensure the continued technical enablement and success of partners and customers including Services, Operations, and Enablement.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
          <div class="card-img-top text-left"><span class="mega-octicon octicon-mark-github"></span><strong>&nbsp;Services:</strong></div>
          <ul class="card-text">
            <li>Assist with partner authorization</li>
            <li>Shadow engagements with partners</li>
            <li>Validate technical enablement collateral</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
          <div class="card-img-top text-left"><span class="mega-octicon octicon-mark-github"></span><strong>&nbsp;Operations:</strong></div>
          <ul class="card-text">
            <li>Track and report on partner training requirements</li>
            <li>Setup order to invoicing processes and payments</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
          <div class="card-img-top text-left"><span class="mega-octicon octicon-mark-github"></span><strong>&nbsp;Enablement:</strong></div>
          <ul class="card-text">
            <li>Validate enablement collateral and process</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="octicon-spacer"><span class="octicon octicon-logo-github"></span><span class="tagline">how people build software</span></div>
  </footer>
</textarea>
