---
title: GitHub Presentation Resources
---

<div class="welcome">
  <div class="logo"><span class="mega-octicon octicon-mark-github huge-logo"></span></div>
  <h1>Lee's Presentations</h1>
  <p class="doc">
    <%= link_to "Advanced GitHub", "advanced-github/start.html", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
