---
title: GitHub Presentation Resources
---

<div class="welcome">
  <div class="logo"><span class="mega-octicon octicon-mark-github huge-logo"></span></div>
  <h1>GitHub Presentation Resources</h1>
  <p class="doc">
    <%= link_to "Commercial Enablement", "commercial/content.html", target: "_blank" %>
    <%= link_to "Technical Enablement", "technical/content.html", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
