---
title: GitHub Presentation Resources
---

<div class="welcome">
  <div class="logo"><span class="mega-octicon octicon-mark-github huge-logo"></span></div>
  <h1>GitHub Presentation Resources</h1>
  <p class="doc">
    <%= link_to "Commercial Enablement Plan", "commercial/start.html", target: "_blank" %>
    <%= link_to "Technical Enablement Plan", "technical/start.html", target: "_blank" %>
    <%= link_to "Pitch Deck", "pitch/start.html", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
