$roboto-font-path: "/fonts/roboto" !default;

@font-face {
  font-family: 'Roboto';
  src: url('#{$roboto-font-path}/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
