@import 'octicons';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import 'bootstrap';

$normal-font: "Roboto";

// Light Theme
$theme-background-color: #ECEFF3;
$theme-text-color: #53585F;
$theme-header-background-color: #FFF;
$theme-header-text-color: #969696;
$theme-border-color: #50A952;
$theme-code-border-color: #D9DCDF;
$theme-code-dots-color: #FFF;
$theme-octicon-color: #52575E;


.container {
  margin-top: 2em;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-resize {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  font-family: $normal-font;
  font-size: 12pt;
}

.huge-logo {
  font-size: 15em;
}

.remark-slide {
  background-color: $theme-background-color;
  color: $theme-text-color;
}

.remark-slide-content {
  background-color: inherit;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 100;
    widows: 2;
    orphans: 2;

    & + p {
      margin-top: 0;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 24px;
    text-align: left;
    font-size: 12pt;
    line-height: 24px;
    background-color: $theme-header-background-color;
    color: $theme-header-text-color;

    .octicon-spacer {
        float: left;

        .octicon {
          display: inline-block;
          vertical-align: middle;
          margin-bottom: -2px;
          font-size: 1.2em;
          color: $theme-octicon-color;
        }

        .tagline {
          float: right;
          margin-left: 10px;
        }
    }


  }

  li {
    font-weight: bold;
  }

  li li {
    font-weight: normal;
    font-size: 0.85em;
  }

  li li li {
    font-weight: 100;
  }
}

.title-slide {
  padding-top: 150px;
  text-align: center;

  .mega-octicon {
    font-size: 10em;
    padding: 10px;
    // border: 10px solid $theme-octicon-color;
    // border-radius: 50%;
    color: $theme-octicon-color;
  }
}

.section-slide {
  padding-left: 25%;
  padding-top: 15%;

  h1 {
    font-weight: bold;
  }

  .mega-octicon {
    font-size: 10em;
    padding: 10px;
    border: 10px solid $theme-octicon-color;
    border-radius: 50%;
    color: $theme-octicon-color;
  }
}

.full-screen {
  margin: 20px;
  padding-top: 75px;
}

.title-top {
  padding-top: 64px;

  .card-img-top {
    max-height: 75px;
    margin-bottom: 10px;
    .mega-octicon {
        font-size: 2.0em;
    }
  }

  .card-title {
    text-align: center;

  }

  .card-block {
    .card-text {
      .label {
        margin: 3px;
      }
    }

    div.text-center {
      text-align: center;
    }
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 36px;
    padding: 18px 24px;
    background-color: $theme-header-background-color;
    color: $theme-header-text-color;

    .octicon {
      float: right;
      padding: 18px;
      margin: -4px 0;
    }
  }

  .mega-octicon {
    font-size: 10em;
    padding: 10px;
    color: $theme-octicon-color;
  }
}

.columns {
  display: flex;
  justify-content: center;
}

.column {
  margin: 36px;
  text-align: center;

  .mega-octicon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    border: 2px solid $theme-border-color;
    margin: -4px 0;
    border-radius: 100%;
  }

  h2 {
    font-weight: bold !important;
    color: #A7AAA9;
    text-transform: uppercase;
  }
}

// Remark styles

.remark-slide-container {
  background: #A2A9B3;
}


.remark-slide-number {
  font-size: 14px;
  border: 1px solid #A7AAA9;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
}

// Syntax Highlighting
.remark-code.hljs { // chained class name to increase specificity
  padding: 2em;
  border-radius: 3px;
  border-top: 25px solid $theme-code-border-color;
  border-radius: 6px;
}

pre {
  position: relative;

  &:before {
    position: absolute;
    top: 1px;
    left: 10px;
    content: "\f052 \f052 \f052";
    font-family: "octicons";
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.4em;
    color: $theme-code-dots-color;
  }
}
